<div class="container">
  <button type="submit" style="margin-left: 20%" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAdd" data-bs-whatever="@getbootstrap">Add</button>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Tool</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {{#each data}}
      <tr>
        <td scope="row">{{sum @index 1}}</td>
        <td>{{this.name}}</td>
        <td>{{this.age}}</td>
        <td>{{this.salary}}</td>
        <td style="width: 20%;">
          <span class="material-symbols-outlined" style="margin-left: 20%;">
          <a href="/{{this._id}}"style="margin-left: 20%; text-decoration: none;" data-bs-toggle="modal" data-bs-target="#modalEdit" data_id="{{this._id}}">Edit</a>
          </span>
          <span class="material-symbols-outlined" style="margin-left: 30%;">
          <a href="#" style="margin-left: 30%; text-decoration: none;" data-bs-toggle="modal" data-bs-target="#modalDelete" data_id="{{this._id}}">Delete</a>
          </span>
        </td>
			</tr>
      {{/each}}
    </tbody>
  </table>
  </div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You sure you want to delete this item ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form  method="post" name="formDel">
          <button type="button" id="btn_delete" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const modalDelete = document.getElementById('modalDelete')
  modalDelete.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    const idDel = button.getAttribute('data_id')
    const formDel = document.forms['formDel'];
    const btn_delete = document.getElementById('btn_delete');
    btn_delete.onclick = function () {
          formDel.action = `/delete/${idDel}?_method=DELETE`;
          formDel.submit();
      }
  })
</script>

<div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Users</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" name="formAdd">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Age:</label>
            <input type="number" class="form-control" id="age" name="age" required>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Salary:</label>
            <input type="number" class="form-control" id="salary" name="salary" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="btn_send" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const modalAddEdit = document.getElementById('modalAdd');
  modalAddEdit.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    const btn_send = document.getElementById('btn_send');
    const formAdd = document.forms['formAdd'];
    btn_send.onclick = function () {
        formAdd.action = '/add_nv/'
        formAdd.submit();
      }
  })
</script>
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Users</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form method="post" name="modalEdit">
        {{!-- {{#each edit}} --}}
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{edit.name}}" required>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Age:</label>
            <input type="number" class="form-control" id="age" name="age" value="{{edit.age}}" required>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Salary:</label>
            <input type="number" class="form-control" id="salary" name="salary" value="{{edit.salary}}" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="btn_edit" class="btn btn-primary">Send</button>
          </div>
          {{!-- {{/each}} --}}
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  const modalEdit = document.getElementById('modalEdit')
  modalEdit.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    const idEdit = button.getAttribute('data_id')
    const formEdit = document.forms['modalEdit'];
    const btn_edit = document.getElementById('btn_edit')
    btn_edit.onclick = function () {
        formEdit.action = `/edit/${idEdit}?_method=PUT`
        formEdit.submit();
      }
  })
</script>
